name: Deploy Model to Hugging Face Space

on:
  push:
    branches: [main]
    paths:
      - "digit_model.pth"
  workflow_dispatch:

jobs:
  deploy-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Install Git LFS
        run: git lfs install

      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

      - name: Add Hugging Face remote
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://itspriyambhattacharya:${HF_TOKEN}@huggingface.co/spaces/itspriyambhattacharya/DeepScan || true

      - name: Push Model Update to Hugging Face
        run: |
          git push hf main
