name: Sync Model to Hugging Face Hub

on:
  push:
    branches: [main]
    paths:
      - "digit_model.pth" # Only trigger when model changes

  workflow_dispatch: # Allow manual run

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Install Git LFS
        run: git lfs install

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://itspriyambhattacharya:$HF_TOKEN@huggingface.co/spaces/itspriyambhattacharya/DeepScan
          git push --force hf main
